body {
    font-family: Arial, sans-serif;
    margin: 15px auto;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

nav {
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav li {
    margin: 30px  auto;
    text-align: left;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    font-size: 25px;
}
ul img{
    margin: 0 25px auto;
    width: 50px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

header {
    background: linear-gradient(to bottom, #FBDB3C, #E07538);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    border-radius: 20px;
}

.header-content {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    margin-right: 10px;
}

.search-bar {
    text-align: center;
}

.search-bar h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px;
}

.search {
    margin-top: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    padding: 10px 40px 10px 10px; /* Tambahkan padding di sebelah kanan untuk ikon */
    width: 500px;
    height: 25px;
    border: none;
    border-radius: 20px;
}

.mami img{
    width: 40px;
    margin-top: 40px;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 100px;
}

main {
    padding: 20px;
    flex: 1 1 auto;
    background-color: #fff;
    overflow-x: auto;
}

main h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.menu-populer {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Atur lebar agar melebihi lebar layar */
}

.menu-item {
    background-color: white;
    width: 1000px; /* Atur lebar lebih besar dari lebar layar */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.menu-image {
    background-color: #ccc;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}